/* conatiner */
.container{
  width: 960px;
  height: 500px;
  margin: auto;
  background-color: red;
}
/* fine container */
/* fila prodotti */
.products-row{
  width: 100%;
  height: 50%;
  background-color: blue;
  border: 2px solid black;
}
/* fine fila prodotti */
/* prodotti */
.product{
  width: 30%;
  height: 100%;
  margin: 0 1.3%;
  background-color: green;
  position: relative;
  display: inline-block;
  border: 2px solid white;
}
/* fine prodotti */
.discount{
  padding: 5px;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
.product:nth-child(even) .discount{
  background-color: red;
}
.heart{
  position: absolute;
  bottom: 5%;
  width: 100%;
  font-size: 25px;
  color: red;
  text-align: center; 
}
